.a1
{
color: blueviolet;
text-align: center;
}
.a2
{
color: rgb(24, 197, 102);
text-align: left;
}
.a3
{
color: rgb(233, 22, 33);
text-align: right;
}
.a4
{
color: rgb(61, 43, 226);
text-align: none;
}